*{
    margin: 0;
    padding: 0;
}

.caja{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin: 20px;
}

/* RELATIVE */
/* .posicionada{
    background-color: darkblue;
    position: relative;
    left: 100px;
    top: 80px;
} */

/* ABSOLUTE */
/* .posicionada{
    background-color: darkblue;
    position: absolute;
    left: 300px;
    top: 20px;
} */

/* FIXED */
.posicionada{
    background-color: darkblue;
    position: fixed;
    top: 0%;
    right: 0%;
}

/*TIPOS DE POSICIONES
    POSICIÓN ESTATICA: funcion por defecto que tienen todos los elementos

    POSICIÓN RELATIVA(relative): todma la posicion que nosotros le indiquemos, partiendo desde su posicion actual

    POSICIÓN ABSOLUTA(absolute): se puede mover libremente dentro del html, toma como referencia a su contenedor padre

    POSICIÓN FIJA: toma una posicion fija en la pantalla, si movemos el scrull el elemento seguira en la misma posicion
*/