*{
    margin:0;
    padding: 0;
    box-sizing: border-box; /*Al agregar un padding lo que hace es utilizar el espacio existente sin crecer el elemento actual*/

  }

  .padre{
    width: 80%;
    max-width: 800px; /*Tamaño maximo de un elemento*/
    /*height: 500px;*/
  
    background-color: dodgerblue;
    display: flex; /*Convierte todos los elementos flexibless*/
    flex-direction: row;
    /*flex-wrap: nowrap*/; /*Acomoda a todos los elementos reduciendo su tamaño*/
    flex-wrap: wrap; /*Respeta el tamaño de los elementos y coloca uno debajo del otro cuando sea necesario*/
    justify-content: center; /*Rellena el espacio sobrante de diferentes formas*/
    align-items: center; /*Alinea los elementos verticalmente*/
    align-content: center; /*Centra vertical y horizontalmente los elementos y muchas funciones mas*/
  
  }
  
  .caja{
    width: 100px;
    height: 100px;
    background-color: cyan;
    margin: 20px;
    padding: 10px;
    font-size: 50px;
    text-align: center; /*Centrar texto*/

    /*flex-grow: 1;*/ /*Ocupan el 100% del espacio disponible*/
    /* flex-shrink: 1; reduce el tamaño */
    /* flex-basis: 100px; */

    flex: 1 1 auto; /*grow shrink basis*/
  }

  .uno{
    order: 3; /*Ordena los elementos dependiendo el numero indicado*/
  }

  .dos{
    order: 2;
    flex-grow: 2;
    /* align-self: center; se alinea unicamente este elemento */
  }

  .tres{
    order: 1;
  }