/*SELECTORES SIMPLES*/
#parrafo1{
    color: blueviolet;
}

#parrafo2{
    color: coral;
}

#parrafo3{
    color: cyan;
}

.parrafo4{
    color: firebrick;
}

.parrafo5{
    color: gold;
}

.parrafo6{
    color: indigo;
}

/*SELECTORES DE ATRIBUTOS*/


/*
[title]{
  color:red;
}
*/

/* aplicar estilos a todos los que contenga href=''
a[href="pagina2.html"]{
  color: red;
}
*/

/* aplicar estilos a todos los terminen con html
a[href$="html"]{
  color:red;
}
*/

/* aplicar estilos a todos los que comiencen con pagina
a[href^="pagina"]{
  color:red;
}
*/

/* aplicar estilos a todos los a que contengan como titulo "dos"
a[title~="dos"]{
  color:red;
}
*/

/* aplicar estilos a todos los a que contenga social en su class
a[class|="social"]{
  color:red;
}
*/

/* aplicar estilos a todos los que contengan la palabra pagina en cualquier atributo
a[href*="pagina"]{
  color:red;
}
*/


/*SELECTORES AVANZADOS*/

/*Selector universal: Todos los elementos*/
/*
*{
  color:red;
}
*/

/*Selector adyacente: Elemento precedido por otro elemento*/
/*
h1 + h2{
  color:red;
}
*/

/* Selector de hermanos: Elemento hermano de otro elemento sin necesidad de estar precedido por él*/
/*
h1 ~ h2{
  color:red;
}
*/

/*Selecto decendente: Aplica a elementos contenidos por el otro elemento indicado sin ser estrictamente hijo directo*/
/*
section p{
  color:red;
}
*/

/*Selecto de hijo directo: Aplica la propiedad al hijo directo*/
/*
section > p{
  color:red;
}
*/
