ul li{
    list-style-type: none;
    display: inline;
  }
  
  a{
    display: inline-block;
    background-color: #01413A;
    padding: 10px;
    color:white;
    text-decoration: none;
  }
  
  /*Aletera los estilos cuando se pasa el mouse encima del elemento*/
  a:hover{
    background-color: green;
  }
  
  /*Aletera los estilos cuando se da clic a un elemento*/
  a:active{
    background-color: blue;
  }
  
  /*Aletera los estilos cuando ya se halla visitado o cliceado un elemento*/
  a:visited{
    background-color: red;
  }
  
  /*Aletera los estilos al 3er <p> del html*/
  p:nth-child(3){
     color:red;
  }

  /*Altera la primera letra del elemento*/
  p::first-letter{
      color: blue;
  }
  
  /*Altera el color al seleccionar algun texto*/
  p::selection{
      color: azure;
      background-color: black;
  }

  /*Agrega contenido al inicion de un texto*/
  p::before{
      content:"Esto es un elemento antes";
  }

  /*Agrega contenido al final de un texto*/
  p::after{
      content: "Fin";
  }