.caja{
    width:200px; /*Ancho*/
    height: 200px; /*Alto*/
    background-color: red; /*Color Fondo*/
  
    padding: 20px; /*Margen entero*/
  
    border: 1px solid gray; /*Borde*/ /*(tamaño borde) (tipo borde) (color borde)*/
  
    margin-top: 10px; /*Margen superior*/
  }
  