table, tr, th, td{
    border: 1px solid black;
}

table{
    /* Deja un solo borde */
    border-collapse: collapse;
    width: 80%;
}

td, th{
    height: 50px;
    text-align: center;

    /* Unicamente se utiliza en elemento de tabla */
    vertical-align: middle;
}

/*Pintar una fila si o otra no*/
tr:nth-child(even){ /*even: colorea solo par*/
    background-color: blanchedalmond;
}
  