.cuadro{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin: 50px;

    /* Rotar un elemento */
    transform: rotate(-10deg);
}

.cuadro1{
    width: 200px;
    height: 200px;
    background-color: cyan;
    margin: 50px;

    /* Aumenta el tamaño del elemento, si es mas grande que el resto de los elementos se sobre pone sobre ellos */
    transform: scale(2,0.5)
}

.cuadro2{
    width: 200px;
    height: 200px;
    background-color: darkgreen;
    margin: 50px;

    /* Mover elementos */
    transform: translate(200px, 0px)
}

.cuadro3{
    width: 200px;
    height: 200px;
    background-color: darkgreen;
    margin: 50px;

    /* Deforma el elemento */
    transform: skew(20deg, 0deg)
}