.padre{
    width: 700px;
    background-color: coral;
}

.caja{
    width: 200px;
    height: 200px;
    font-size: 40px;
    color: white;
    background-color: forestgreen;
    margin: 20px;
}

.primera{
    float: left;
}

.segunda{
    float: right;
}

.limpiar{
    clear: both; /*Solucionar error de que el padre no tenga altura cuando los hijos esten en una posicion float*/
}