
/*MEDIA QUERIES*/

/*
print - Vista de Impresión.
min-width - Tamaño mínimo en horizontal.
max-width - Tamaño máximo en horizontal.
min-height - Tamaño mínimo en vertical.
max-height - Tamaño máximo en vertical.
orientation - Posición en la que se encuentre el dispositivo.
resolution - Tamaño ocupado por el browser en píxeles.
color - Detecta si la pantalla en que se visualiza el sitio es a color o en blanco y negro.
light-level - Densidad de la luz del dispositivo.
*/

img{
    width: 50%;
  }
  
@media all and (min-width:421px) and (max-width:768px){
    img{
        width: 80%;
    }
}

@media all and (max-width:420px){
    img{
        width: 100%;
    }
} 